<%- include('../partials/_navbar') %>

<h2>Profile</h2>

<% if (user.img) { %>
  <img src="/<%= user.img %>" alt="Profile Image">
<% } else { %>
  <img src="/default-profile.png" alt="Default Profile Image"/>
<% } %>

<p>Username: <%= user.username %></p>
<br/>
<p>Email: <%= user.email %></p>
<br/>
<p>Phone: <%= user.phone %></p>
<br/>
<p>Address: <%= user.address %></p>
<br/>


<h3>My Orders</h3>
<ul>
  <% orders.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">
        Order ID: <%= order._id %>
      </a>
      | Status: <%= order.status %>
      <ul>
        <% order.cartId.items.forEach(item => { %>
          <li>
            <%= item.product.name %> - Quantity: <%= item.quantity %>
          </li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>
