<%- include('../partials/_navbar') %>

<h2>Profile</h2>
<img src="<%= user.img %>" alt="Profile Image"/>
<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>
<p>Phone: <%= user.phone %></p>
<p>Address: <%= user.address %></p>

<h3>My Orders</h3>
<ul>
  <% orders.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">
        Order ID: <%= order._id %>
      </a>
      | Status: <%= order.status %>
      <ul>
        <% order.cartId.items.forEach(item => { %>
          <li>
            <%= item.product.name %> - Quantity: <%= item.quantity %>
          </li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>
