<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/stylesheets/cate.css" />
<body class="box-11">
  <%- include('../partials/_navbar') %>
  <div class="box-1">
    <h1>Products in <%= category.name %></h1>
  </div>
  <div class="box-2">
    <ul class="box-21">
      <% products.forEach(product => { %>
      <li class="box-211">
        <img src="/<%= product.img %>" alt="<%= product.name %>" />
        <br />
        <a href="/products/<%= product._id %>" class="box-221"><%= product.name %></a> - <%=
        product.price %> BD
      </li>
      <% }) %>
    </ul>
  </div>
</body>
