<link rel="stylesheet" href="/stylesheets/style.css">

<%- include('../partials/_navbar') %>

<h1>Products in <%= category.name %></h1>

<ul>
  <% products.forEach(product => { %>
  <li>
    <img src="/<%= product.img %>" alt="<%= product.name %>" >
    <br>
    <a href="/products/<%= product._id %>"><%= product.name %></a> -  <%= product.price %> BD
  </li>
  <% }) %>
</ul>
