<%- include('../partials/_navbar') %>

<h1>Today's Deals</h1>

<ul>
  <% products.forEach ( product => { %>
    <li>
      <a href="/products/<%= product._id %>">
        <img src="<%= product.img %>" alt="<%= product.name %>"/>
        <h2><%= product.name %></h2>
        <p><%= product.price %> BD</p>
      </a>
    </li>
  <% }) %>
</ul>