<link rel="stylesheet" href="/stylesheets/style.css">

<%- include('../partials/_navbar') %>

<div class="container py-5">
  <h1 class="mb-4">My Listings</h1>
  <div class="row g-4">
    <% products.forEach(product => { %>
      <div class="col-sm-6 col-lg-3">
        <div class="card h-100 shadow-sm product-card">
          <img src="/<%= product.img %>" class="card-img-top" alt="<%= product.name %>">
          <div class="card-body text-center">
            <h5 class="card-title mb-2"><%= product.name %></h5>
            <p class="card-text mb-0"><strong><%= product.price %> BD</strong></p>
            <a href="/products/<%= product._id %>/edit" class="btn btn-outline-primary btn-sm mt-2">Edit</a>
            <form method="POST" action="/products/<%= product._id %>?_method=DELETE" class="d-inline">
              <button type="submit" class="btn btn-outline-danger btn-sm mt-2">Delete</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
