<link rel="stylesheet" href="/stylesheets/style.css">

<%- include('../partials/_navbar') %>

<img src="/<%= product.img %>" alt="<%= product.name %>"/>

<h1><%= product.name %></h1>

<p><%= product.price %> BD</p>

<p>Category: <%= product.category ? product.category.name : 'No category' %></p>

<p>Description: <%= product.description %></p>

<p>Quantity Available: <%= product.quantity %></p>


<!-- If user owns the product show edit and delete options else show add to cart -->

<% if (product.seller._id.equals(user._id)) { %>

<a href="/products/<%= product._id %>/edit">Edit Product</a>

<form method="POST" action="/products/<%= product._id %>?_method=DELETE">
  <button type="submit">Delete Product</button>
</form>  

<% } else { %>

<form method="POST" action="/carts/<%= cartId %>/user/<%= userId %>/items">
<input type="hidden" name="productId" id="productId" value="<%= product._id %>">
<input type="number" name="quantity" id="quantity" value="1" min="1" max="<%= product.quantity %>">
<button type="submit">Add to Cart</button>
</form>

  <% } %>

